input {
    focus-follows-mouse max-scroll-amount="0%"
    warp-mouse-to-focus
    keyboard {
        xkb {
            layout "us,de"
            options "caps:escape"
        }
        track-layout "global"
        repeat-delay 300
        repeat-rate 60
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-profile "flat"
    }
    mod-key "Super"
}
