layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}
// Set the overview wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
